extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/certificates.css

block content
    section#flottingpart
        section#title 
            h1 CERTIFICATES
            p THESE ARE SOME OF MY CERTIFICATIONS. HAVE A LOOK AT THEM:- 
        hr
        
        section#bodypart
            
            section.projects#project-7
                h1.nameProj FRONT END | FULL STACK WEB DEVELOPMENT - CODING NINJAS
                h1.date APRIL, 2023
                section.imagedesc 
                    a(href="https://drive.google.com/file/d/1KXF2A5ezVn4axGI5JOF0UlkSA5U2BO0M/view?usp=share_link")
                        img(src="../static/images/webd.png")
                    section.desc 
                        p This certifcate is the certificate of Excellence issued by Coding Ninjas for the completion of their course on Full Stack Web Development. The certificate is only issued when the student completes 90% of the course syllabus. This certificate typically indicates that the individual has successfully completed a comprehensive training program focused on developing web applications. This includes training on various front-end technologies like HTML, CSS, JavaScript, and frameworks like React, Vue as well as back-end technologies like Node.js, express.js and databases like MongoDB.
            section.projects#project-6
                h1.nameProj FRONT END | FULL STACK WEB DEVELOPMENT - CODING NINJAS
                h1.date APRIL, 2023
                section.imagedesc 
                    a(href="https://drive.google.com/file/d/120JjmZd9vhOtmP7LsmT0Z_a_iCXQqWFv/view?usp=share_link")
                        img(src="../static/images/WebDE.png")
                    section.desc 
                        p This certificate is issued by Coding Ninjas for FULL STACK DEVELOPMENT.This certificate typically indicates that the individual has successfully completed a comprehensive training program focused on developing web applications. This includes training and expertise on various front-end technologies like HTML, CSS and JavaScript.
            
        
            section.projects#project-1
                h1.nameProj INTRODUCTION TO PROGRAMMING USING PYTHON - MTA
                h1.date MARCH 26, 2021
                section.imagedesc 
                    a(href="https://drive.google.com/file/d/1B0NjpQbIlhAQB3uSIzdIQWqoXZtbuhf9/view")
                        img(src="../static/images/mta1.png")
                    section.desc 
                        p This certificate is issued by Microsoft Technology Associates (MTA) for Introduction to programming using python. For availing this certificate, a test conducted by Microsoft itself has to be cleared. The certificate is only issued if the score is above 70% of the total score. 
            
            section#project-2.projects
                h1.nameProj INTRODUCTION TO C++ - Coding Ninjas
                h1.date JUNE 2022 - AUGUST 2022
                section.imagedesc
                    a(href="https://drive.google.com/file/d/17Rx_tiGpdbrIqowlkF_zIuEbmndqLVIS/view") 
                        img(src="../static/images/cn2.png")
                    section.desc 
                        p This certifcate is the certificate of Excellence issued by Coding Ninjas for the completion of their course on C++. The certificate is only issued when the student completes 90% of the course syllabus, including lecures, assignments, projects, etc. along with scoring above 90% of marks in their tests. 
            section#project-3.projects
                h1.nameProj ARTIFICIAL INTELLIGENCE WITH PYTHON- Threat Prism
                h1.date MARCH 7, 2021
                section.imagedesc
                    a(href= "https://drive.google.com/file/d/1dN4mJZ6--sHD306WahTTwX_d6oMvbC64/view") 
                        img(src="../static/images/tp3.png")
                    section.desc 
                        p The certificate of completion for a training program in artificial intelligence with Python, issued by Threat Prism, indicates that the recipient has successfully completed a program that covers the fundamentals of artificial intelligence and machine learning, with a focus on using the Python programming language to build and train models. The certificate signifies that the individual has demonstrated competence in topics such as data preprocessing, data visualization, regression, classification, clustering and basics about neural networks. It confirms that the recipient has acquired the necessary skills to develop AI-powered applications and systems using Python. 
            section#project-4.projects
                h1.nameProj DATA STRUCTURES IN C++ - Coding Ninjas
                h1.date AUGUST 2022 - DECEMBER 2022
                section.imagedesc
                    a(href= "https://drive.google.com/file/d/1Z5S-G0T5VoEfb7X047m0-bvO1ijLLQ8w/view") 
                        img(src="../static/images/cn4.png")
                    section.desc 
                        p This certifcate is the certificate of Excellence issued by Coding Ninjas for the completion of their course on Data Structures in C++. The certificate is only issued when the student completes 90% of the course syllabus, including lecures, assignments, projects, etc. along with scoring above 90% of marks in their tests. 

            section#project-5.projects
                h1.nameProj ARTIFICIAL INTELLIGENCE WITH PYTHON
                h1.date DECEMBER 15, 2020 - JANUARY 31, 2021
                section.imagedesc
                    a(href= "https://drive.google.com/file/d/1nuJG7kbuLr2ue3ut6WRG8EDGtDv8iBpA/view") 
                        img(src="../static/images/in5.png")
                    section.desc 
                        p The certificate of participation for a training program in artificial intelligence with Python, issued by Inmovidu, indicates that the recipient has participated in a program that covers the fundamentals of artificial intelligence and machine learning, with a focus on using the Python programming language to build and train models. It signifies that the recipient has completed the coursework and actively engaged in the learning process. The certificate acknowledges the recipient's effort and commitment to expanding their knowledge and skills in the field of AI with Python. 
