extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/contact.css

block content
    section#flottingpart
        section#title 
            h1 CONTACT
            p 
        hr
        section#bodypart