extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/projects.css

block content
    section#flottingpart
        section#title 
            h1 PROJECTS
            p SOME OF MY PROJECTS
        hr
        section#bodypart
            section.projects#project-1
                h1.nameProj NAME OF THE PROJECT
                h1.date DATE
                section.imagedesc 
                    img(src="../static/images/projects.jpg")
                    section.desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo nobis labore, nihil odit nemo recusandae consequuntur obcaecati quidem optio. Fugiat laudantium corrupti facilis incidunt quidem voluptatum, a id natus! 
            section#project-2.projects
                h1.nameProj NAME OF THE PROJECT
                h1.date DATE
                section.imagedesc 
                    img(src="../static/images/projects.jpg")
                    section.desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo nobis labore, nihil odit nemo recusandae consequuntur obcaecati quidem optio. Fugiat laudantium corrupti facilis incidunt quidem voluptatum, a id natus! 
            section#project-3.projects
                h1.nameProj NAME OF THE PROJECT
                h1.date DATE
                section.imagedesc 
                    img(src="../static/images/projects.jpg")
                    section.desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo nobis labore, nihil odit nemo recusandae consequuntur obcaecati quidem optio. Fugiat laudantium corrupti facilis incidunt quidem voluptatum, a id natus! 
            section#project-4.projects
                h1.nameProj NAME OF THE PROJECT
                h1.date DATE
                section.imagedesc 
                    img(src="../static/images/projects.jpg")
                    section.desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo nobis labore, nihil odit nemo recusandae consequuntur obcaecati quidem optio. Fugiat laudantium corrupti facilis incidunt quidem voluptatum, a id natus! 
