extends base.pug

block scripts 

block style
    style 
        include ../static/base.css
        include ../static/projects.css

block content
    section#flottingpart
        section#title 
            h1 PROJECTS
            p SOME OF MY PROJECTS
        hr
        section#bodypart
            section.projects#project-1
                h1.nameProj 
                    a(href="https://github.com/Amit2508/Music-Player-UI-UX") MUSIC PLAYER UI/ UX
                h1.date JANUARY 2023 - MARCH 2023
                section.imagedesc 
                    a(href="https://amit2508.github.io/Music-Player-UI-UX/")
                        img(src="../static/images/music-player.png")
                    section.desc 
                        p This is the better UI design for a simple Music Player App. This is created using HTML and CSS only. Highly responsive and an attractive UI/UX design for the users. Uses animations to make it more impressive and enjoyable!
            section#project-2.projects
                h1.nameProj
                    a(href="https://github.com/Amit2508/LaundaryManagementSystem") LAUNDRY MANAGEMENT SYSTEM
                h1.date FEBRUARY 2022 - MAY 2022
                section.imagedesc
                    a(href="https://github.com/Amit2508/LaundaryManagementSystem") 
                        img(src="../static/images/laundry-app.jpg")
                    section.desc 
                        p This app is a laundry amangement app created for NIIT University's Laundry Management. This app consits of two interfaces- one for students and other for the admin. This app is created using Flutter and Dart. Consitis of exciting features for managing your laundry, ensures safe laundry give and take interactions, plus creates a restricted access of laundry days for the students. 
            section#project-3.projects
                h1.nameProj 
                    a(href="https://github.com/Amit2508/to-do-list") TO- DO LIST
                h1.date JUNE 2022 - AUGUST 2022
                section.imagedesc 
                    a(href="https://github.com/Amit2508/to-do-list")
                        img(src="../static/images/to-do-list.png")
                    section.desc 
                        p The app typically features a user-friendly interface where users can easily add, edit, and delete tasks, set deadlines, prioritize tasks, categorize them, and receive notifications and reminders. The app can be used for personal or professional purposes, and can be accessed from a variety of devices including smartphones, tablets, and computers. The goal of the app is to help users stay organized and productive by providing a centralized location to manage their tasks and stay on top of their priorities. This app is created using HTML, CSS and Javascript.
            //- section#project-4.projects
            //-     h1.nameProj 
            //-         a(href="") NAME OF THE PROJECT
            //-     h1.date DATE
            //-     section.imagedesc 
            //-         img(src="../static/images/projects.jpg")
            //-         section.desc 
            //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quo nobis labore, nihil odit nemo recusandae consequuntur obcaecati quidem optio. Fugiat laudantium corrupti facilis incidunt quidem voluptatum, a id natus! 
